.App {
  text-align: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.login-form input[type="text"] {
  padding: 5px;
}

.login-form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #00FFFF;
  border: 0;
  color: #fff;
}

.login-form .err-message {
  color: red;
}